In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [7]:
# Load CSV file generated from WeatherPy Folder
weather_data_to_load = "output_data/weather.csv"
weather_data = pd.read_csv(weather_data_to_load)
dropna_weather_data = weather_data.dropna()
del dropna_weather_data["Unnamed: 0"]
dropna_weather_data.head(20)

,City,Cloudiness,Country,Humidity (%),Lat,Lng,Max Temp,Wind Speed,Date
0,beloha,0,MG,78,-25.1667,45.0500,67.82,10.40,1619233924
1,adrar,1,MR,15,20.5022,-10.0711,74.70,8.95,1619233904
2,asosa,35,ET,73,10.0667,34.5333,65.14,5.06,1619234077
3,urumqi,75,CN,64,43.8010,87.6005,35.60,8.95,1619233867
4,alta floresta,75,NO,64,69.9689,23.2717,32.00,8.05,1619234077
5,verkhnevilyuysk,100,RU,91,63.4453,120.3167,32.92,5.86,1619234078
6,castro,8,BR,88,-24.7911,-50.0119,52.90,3.22,1619234002
7,laguna,1,US,62,38.4210,-121.4238,61.00,10.36,1619234012
8,mys shmidta,60,RU,75,62.0589,48.6201,44.49,5.73,1619234078
9,kapaa,40,US,69,22.0752,-159.3190,77.00,18.41,1619233629
10,hasaki,75,JP,48,35.7333,140.8333,70.00,3.44,1619234081
12,victoria,20,HK,61,22.2855,114.1577,84.20,17.27,1619234085
13,gat,37,IL,100,31.6100,34.7642,66.00,2.51,1619233984
14,yerbogachen,21,RU,67,61.2767,108.0108,38.71,9.19,1619234087
15,qaanaaq,100,GL,79,77.4840,-69.3632,17.20,5.44,1619234087
16,monteagudo,48,BO,98,-19.8167,-63.9833,63.19,1.95,1619233870
17,thompson,20,CA,49,55.7435,-97.8558,17.60,5.75,1619234088
18,saskylakh,100,RU,96,71.9167,114.0833,33.89,19.75,1619233875
19,longyearbyen,75,SJ,73,78.2186,15.6401,19.40,5.75,1619234023
20,atuona,22,PF,78,-9.8000,-139.0333,80.37,24.02,1619234090